In [4]:
attribute=['sid','sname','city','contect']
records=[[1,'om','surat',6598741235],
         [2,'sai','bardoli',8965231475],
         [3,'ram','vyara',8965324589],
         [4,'gopal','tapi',9874563215],
         [5,'kishan','bajipura',8745632985]]

In [5]:
li=[]
for i in range(5):
    sid=int(input("Enter Student Id:"))
    sname=input("Enter Student Name:")
    city=input("Enter Student's City:")
    contect=int(input("Enter Student Contect Number:"))
    l=[sid,sname,city,contect]
    li.append(l)

Enter Student Id:101
Enter Student Name:vivek
Enter Student's City:mandvi
Enter Student Contect Number:9192937861
Enter Student Id:102
Enter Student Name:bhavik
Enter Student's City:mdhi
Enter Student Contect Number:9145028466
Enter Student Id:103
Enter Student Name:prtham
Enter Student's City:bardoli
Enter Student Contect Number:8456321975
Enter Student Id:104
Enter Student Name:dev
Enter Student's City:surat
Enter Student Contect Number:7925631458
Enter Student Id:105
Enter Student Name:meet
Enter Student's City:buhari
Enter Student Contect Number:9865231473

In [6]:
import csv

In [8]:
with open('student.csv','w',newline='')as csvfile:
    file=csv.writer(csvfile)
    file.writerow(attribute)
    file.writerows(records)
    file.writerows(li)

In [9]:
import csv

In [10]:
with open('student.csv','r')as read_obj:
    all_records=csv.reader(read_obj)
    for records in all_records:
        print(records)

['sid', 'sname', 'city', 'contect']
['1', 'om', 'surat', '6598741235']
['2', 'sai', 'bardoli', '8965231475']
['3', 'ram', 'vyara', '8965324589']
['4', 'gopal', 'tapi', '9874563215']
['5', 'kishan', 'bajipura', '8745632985']
['101', 'vivek', 'mandvi', '9192937861']
['102', 'bhavik', 'mdhi', '9145028466']
['103', 'prtham', 'bardoli', '8456321975']
['104', 'dev', 'surat', '7925631458']
['105', 'meet', 'buhari', '9865231473']